<input type="text" name="nomi" maxlength="200" required="" id="id_nomi">


<textarea name="tarkibi" cols="40" rows="10" required="" id="id_tarkibi"></textarea>


<input type="file" name="rasmi" accept="image/*" required="" id="id_rasmi">

<input type="text" name="narhi" maxlength="20" required="" id="id_narhi">

<button type="submit">yuborish</button>


<!-- login -->

<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">


<input type="password" name="password" autocomplete="current-password" required="" id="id_password">



<button type="submit">Login</button>



<!-- Signup -->


<input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username">


<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">



<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">



<button type="submit">Sign Up</button>




<!-- sariq button -->


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>





<a href="" class="btn1"> Order Now </a>
                       
                     

